*{
    margin: 0 auto;
    padding:0;
}

.content{
    background-image:url(../img/promo.png) ;
    background-color:#002B40;
    min-height: 800px;
    min-width: 1500px;
    background-position-x :right;
    background-position-y :150px;
    display:flex ;
    justify-content: space-between ;
    background-repeat:no-repeat ;
    align-items: center;
}

.sub-title{
    Width: 246px;
    height: 27px;
    top: 400px;
    Left: 184px ;
    font-family: 'Amiri', serif;
    font-size: 18px;
    color:white;
}

.content-text{
    width: 476px;
    height: 73px;
    margin: 0;
    line-height: 58px;
    min-width: 300px;
    min-height: 300px;
    font-family: 'Gothic A1', sans-serif;
    font-size: 68px ;
    font-weight: 400;
    margin-left: 136px;
}

.content-text-title{
    color:#72BF00;
    margin-bottom: 55px;    
}

.content-text-white{
    color: white;
}

.div{
    Width: 100;
    Height: 100px;
    Top: 535px;
    background-color:#032736;
    padding: 48px 0;
    left: 0px;
    border-radius: 0px;
}

.text-shlapa{
    font-family: 'Amiri', serif;
    font-size: 30px;
    color:white;
    margin-left:136px ;
    height: 20,54px;
    text-transform: uppercase;
}

.text-shlapa2{
    font-family: 'Gothic A1', sans-serif;
    font-size:17px;
    font-weight:400;
    font-style:normal;
    Size:17px;
    Line-height: 26,4px;
    color:white;
    margin-left:136px ;
}

.text-shlapa3{
    font-family: 'Gothic A1', sans-serif;
    font-size:17px;
    font-weight:400;
    font-style:normal;
    Size:12px;
    Line-height: 24px;
    color:white;
    margin-left:173px ; 
}
.categories{
    background-image:url(../img/2block.png);
    min-height: 462px;
    background-repeat: no-repeat;
    margin-top: 260px;
    display:flex;
    width: 1500;

}
.categories-wrap{
    width: 1500;
    

}
.categories-title{
    margin-top: 15px;
    font-family: 'Gothic A1', sans-serif;
    font-size:35px;
    color: #002B40;

}
.categories-title-weign{
    width: 535px;
    margin-top:29px ;
    font-size: 18px;
    color: #002B40;

}
.categories-subtitle{
    margin-top: 100px;
    font-family: 'Gothic A1', sans-serif;
    font-size: 12px;
    color: #5E7177;

}
.categories-title-weign2{
    margin-top: 26px;
    font-family: 'Amiri', serif;
    font-size: 15px ;
    color: #002B40;
}
.button{
  
  background: #EFF2F3;
  color:#5E7177;
  padding: 20px 35px; 
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  width: 156px;
  height: 35px;
  margin-left: 126px;
}
.categories-learnsmore{
   display:flow-root; 
   margin-top: 121px ;
   margin-left: 126px;
   font-family:'Gothic A1', sans-serif;
   font-size:12px ;
}
.categories-learnsmore-title{
   font-family:'Gothic A1', sans-serif;
   font-size: 36px;
   Height:80px;
   margin-top:100px;
   width: 784px;
   margin-left: 126px;
   font-weight: 400px;
   line-height: 39,71px ;
   
}
.categories-learnsmore-title2{
    font-family:'Gothic A1', sans-serif;
    font-size: 36px;
    Height:80px;
    color: #00755F;
    width: 784px;
    font-weight: 400px; 
}
.fegure{
    Width: 64px;
    Height: 64px;
    Top :1744px;
    Left :126px;
    margin-top: 87px;
}
.fegure-karta{
display: flex;
justify-content: space-between;
margin-top:90px;
width: 1500;
}
.fegure-class{
    display: flex;
    
    height: 150px;
    width: 1500;

}
.feguretext1{
    font-family:'Gothic A1', sans-serif;
    font-size: 17px;
    color: #002B40;
    margin-top: 104px;
    Line-height:19,8px;
    width: 191px ;
    height: 20;
    margin-left: 10px;
}
.feguretext2{
    font-family: 'Amiri', serif;
    font-size: 18px;
    color: #002B40;
    margin-top: 19px;
    Line-height:27px;
    width: 247px ;
    height: 54;
    margin-left: 10px;
}
.feguretext3{
    font-family:'Gothic A1', sans-serif;
    font-size: 15px;
    color: #002B40;
    margin-top: 52px;
    Line-height:24px;
    text-underline-position: auto;
    width: 81px ;
    height: 24;
    margin-left: 10px;
}